In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings("ignore")

from webdriver_manager.chrome import ChromeDriverManager

In [2]:
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/98.0.4758.102/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\HP\.wdm\drivers\chromedriver\win32\98.0.4758.102]

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [5]:
# A) Rank B) Name C) Artist D) Upload date E) Views

In [6]:
rank = driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[1]')
r = []
for i in rank:
    r.append(i.text)
name = driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[2]')
n = []
for i in name:
    n.append(i.text)
artist = driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[3]')
a = []
for i in artist:
    a.append(i.text)
date = driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[5]')
d = []
for i in date:
    d.append(i.text)
views = driver.find_elements_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[4]')
v = []
for i in views:
    v.append(i.text)

# Dataframe of all the tabs
YouTube=pd.DataFrame()
YouTube['Rank']=r
YouTube['Name']=n
YouTube['Artist']=a
YouTube['Upload Date']=d
YouTube['Views']=v
YouTube

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.21
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.75
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.17
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.62
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.42
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.99
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,"February 27, 2018",4.56
7,8.,"""Masha and the Bear – Recipe for Disaster""[22]",Get Movies,"January 31, 2012",4.48
8,9.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.47
9,10.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.46
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.34
11,12.,"""Dame Tu Cosita""[30]",El Chombo,"April 5, 2018",3.85
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.68
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.64
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.52
15,16.,"""Sorry""[34]",Justin Bieber,"October 22, 2015",3.51
16,17.,"""Counting Stars""[35]",OneRepublic,"May 31, 2013",3.51
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.41
18,19.,"""Girls Like You""[37]",Maroon 5,"May 31, 2018",3.24
19,20.,"""Faded""[38]",Alan Walker,"December 3, 2015",3.23
20,21.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.23
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.22
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.17
23,24.,"""Bailando""[42]",Enrique Iglesias,"April 11, 2014",3.16
24,25.,"""Lean On""[43]",Major Lazer,"March 22, 2015",3.16
25,26.,"""Shake It Off""[44]",Taylor Swift,"August 18, 2014",3.14
26,27.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.13
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.09
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.06
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.04

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [35]:
url = 'https://www.bcci.tv/'
driver.get(url)

In [36]:
international=driver.find_element_by_xpath("/html/body/nav/div/div[2]/ul[1]/li[2]/a")
international.click()

In [37]:
fixtures=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button")
fixtures.click()

In [38]:
fixtures=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button")
fixtures.click()

In [39]:
# A) Match title (I.e. 1 st ODI) B) Series C) Place D) Date E) Time Note

In [59]:
title = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/h5[2]/span')
t = []
for i in title:
    t.append(i.text)
series = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[3]')
s = []
for i in series:
    s.append(i.text.replace('\n',' '))
place = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[4]/div')
p = []
for i in place:
    p.append(i.text)
date = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/div/div[1]/h5')
d = []
for i in date:
    d.append(i.text)
time = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/div/div[2]/h5')
e = []
for i in time:
    e.append(i.text)

# Dataframe of all the tabs
Match=pd.DataFrame()
Match['Match Title']=t
Match['Series']=s
Match['Place']=p
Match['Date']=d
Match['Time']=e
Match

,Match Title,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF NEW ZEALAND ODI SERIES 2022,New Zealand Women vs India Women,"4th ODI - John Davies Oval, Queenstown",22 FEB 2022,3:30 AM IST
1,INDIA WOMEN TOUR OF NEW ZEALAND ODI SERIES 2022,New Zealand Women vs India Women,"5th ODI - John Davies Oval, Queenstown",24 FEB 2022,3:30 AM IST
2,SRI LANKA TOUR OF INDIA T20 SERIES 2022,India vs Sri Lanka,1st T20I - Bharat Ratna Shri Atal Bihari Vajpa...,24 FEB 2022,7:00 PM IST
3,SRI LANKA TOUR OF INDIA T20 SERIES 2022,India vs Sri Lanka,2nd T20I - Himachal Pradesh Cricket Associatio...,26 FEB 2022,7:00 PM IST
4,SRI LANKA TOUR OF INDIA T20 SERIES 2022,India vs Sri Lanka,3rd T20I - Himachal Pradesh Cricket Associatio...,27 FEB 2022,7:00 PM IST
5,SRI LANKA TOUR OF INDIA TEST SERIES 2022,India vs Sri Lanka,1st Test - Punjab Cricket Association IS Bindr...,4 MAR 2022,9:30 AM IST
6,ICC WOMENS WORLD CUP 2022,Pakistan Women vs India Women,"1st ODI - Bay Oval, Mount Maunganui",6 MAR 2022,6:30 AM IST
7,ICC WOMENS WORLD CUP 2022,New Zealand Women vs India Women,"2nd ODI - Seddon Park, Hamilton",10 MAR 2022,6:30 AM IST
8,SRI LANKA TOUR OF INDIA TEST SERIES 2022,India vs Sri Lanka,"2nd Test - M Chinnaswamy Stadium, Bengaluru",12 MAR 2022,12:30 PM IST
9,ICC WOMENS WORLD CUP 2022,West Indies Women vs India Women,"3rd ODI - Seddon Park, Hamilton",12 MAR 2022,6:30 AM IST
10,ICC WOMENS WORLD CUP 2022,England Women vs India Women,"4th ODI - Bay Oval, Mount Maunganui",16 MAR 2022,6:30 AM IST
11,ICC WOMENS WORLD CUP 2022,India Women vs Australia Women,"5th ODI - Eden Park, Auckland",19 MAR 2022,6:30 AM IST
12,ICC WOMENS WORLD CUP 2022,India Women vs Bangladesh Women,"6th ODI - Seddon Park, Hamilton",22 MAR 2022,6:30 AM IST
13,ICC WOMENS WORLD CUP 2022,India Women vs South Africa Women,"7th ODI - Hagley Oval, Christchurch",28 MAR 2022,6:30 AM IST
14,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,India vs South Africa,"1st T20I - MA Chidambaram Stadium, Chennai",9 JUN 2022,7:30 PM IST
15,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,India vs South Africa,"2nd T20I - M Chinnaswamy Stadium, Bengaluru",12 JUN 2022,7:30 PM IST
16,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,India vs South Africa,3rd T20I - Vidarbha Cricket Association Stadiu...,14 JUN 2022,7:30 PM IST
17,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,India vs South Africa,4th T20I - Saurashtra Cricket Association Stad...,17 JUN 2022,7:30 PM IST
18,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,India vs South Africa,"5th T20I - Arun Jaitley Stadium, Delhi",19 JUN 2022,7:30 PM IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [17]:
url = 'https://www.guru99.com/'
driver.get(url)

In [18]:
international=driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a")
international.click()

In [19]:
exception=driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a")
exception.click()

In [20]:
# A) Name B) Description

In [25]:
name = driver.find_elements_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr/td[1]')
n = []
for i in name:
    n.append(i.text)
desc = driver.find_elements_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr/td[2]')
d = []
for i in desc:
    d.append(i.text)

# Dataframe of all the tabs
Selenium=pd.DataFrame()
Selenium['Name']=n
Selenium['Description']=d
Selenium

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [61]:
url = 'http://statisticstimes.com/'
driver.get(url)

In [66]:
economy=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy.click()

In [67]:
india=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
india.click()

In [69]:
gdp=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()

In [68]:
# A) Rank B) State C) GSDP D) GSDP E) Share F) GDP($ billion)

In [115]:
rank = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]')
r = []
for i in rank:
    r.append(i.text)
state = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]')
s = []
for i in state:
    s.append(i.text)
gsdp = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]')
c = []
for i in gsdp:
    c.append(i.text)
gsdp1 = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]')
c1 = []
for i in gsdp1:
    c1.append(i.text)
gsdp11 = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[7]')
c11 = []
for i in gsdp11:
    c11.append(i.text)
gsdp12 = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[8]')
c12 = []
for i in gsdp12:
    c12.append(i.text)
share = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]')
sh = []
for i in share:
    sh.append(i.text)
gdp = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]')
g = []
for i in gdp:
    g.append(i.text)

# Dataframe of all the tabs
GDP=pd.DataFrame({"Rank":r,"State":s,"GSDP(Cr INR at Current prices):19-20":c,"GSDP(Cr INR at Current prices):18-19":c1,"GSDP(Cr INR at 2011-12 prices):19-20":c11,"GSDP(Cr INR at 2011-12 prices):18-19":c12,"Share":sh,"GDP($billion)":g})
GDP

,Rank,State,GSDP(Cr INR at Current prices):19-20,GSDP(Cr INR at Current prices):18-19,GSDP(Cr INR at 2011-12 prices):19-20,GSDP(Cr INR at 2011-12 prices):18-19,Share,GDP($billion)
0,1,Maharashtra,-,"2,632,792",-,"2,039,074",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208","1,312,929","1,215,307",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764","1,166,817","1,123,982",8.39%,240.726
3,4,Gujarat,-,"1,502,899",-,"1,186,379",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127","1,156,039","1,091,077",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898","793,223","739,525",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586","711,627","677,428",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957","672,018","621,301",4.57%,131.083
8,9,Telangana,"969,604","861,031","663,258","612,828",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592","561,801","522,009",4.29%,122.977
10,11,Kerala,-,"781,653",-,"559,412",4.14%,118.733
11,12,Delhi,"856,112","774,870","634,408","590,569",4.10%,117.703
12,13,Haryana,"831,610","734,163","572,240","531,085",3.89%,111.519
13,14,Bihar,"611,804","530,363","414,977","375,651",2.81%,80.562
14,15,Punjab,"574,760","526,376","418,868","397,669",2.79%,79.957
15,16,Odisha,"521,275","487,805","396,499","376,877",2.58%,74.098
16,17,Assam,-,"315,881",-,"234,048",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063","243,477","231,182",1.61%,46.187
18,19,Jharkhand,"328,598","297,204","240,036","224,986",1.57%,45.145
19,20,Uttarakhand,-,"245,895",-,"193,273",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",-,"112,755",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845","124,403","117,851",0.81%,23.369
22,23,Goa,"80,449","73,170","63,408","57,787",0.39%,11.115
23,24,Tripura,"55,984","49,845","40,583","36,963",0.26%,7.571
24,25,Chandigarh,-,"42,114",-,"31,192",0.22%,6.397
25,26,Puducherry,"38,253","34,433","25,093","23,013",0.18%,5.230
26,27,Meghalaya,"36,572","33,481","26,695","24,682",0.18%,5.086
27,28,Sikkim,"32,496","28,723","20,017","18,722",0.15%,4.363
28,29,Manipur,"31,790","27,870","20,673","19,300",0.15%,4.233
29,30,Nagaland,-,"27,283",-,"17,647",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",-,"16,676",0.13%,3.737
31,32,Mizoram,"26,503","22,287","18,797","16,478",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [123]:
url = 'https://github.com/'
driver.get(url)

In [124]:
explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
explore.click()

In [125]:
trend=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
trend.click()

In [126]:
# A) Repository title B) Repository description C) Contributors count D) Language used ASSIGNMENT

In [142]:
title = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/h1/a')
t = []
for i in title:
    t.append(i.text)
desc = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/p')
d = []
for i in desc:
    d.append(i.text)
count = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/a[2]')
c = []
for i in count:
    c.append(i.text)
language = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/span[1]')
l = []
for i in language:
    l.append(i.text)

# Dataframe of all the tabs
GitHUb=pd.DataFrame({"Repository Title":t,"Repository Description":d,"Contributors Count":c,"Language Used Assignment":l})
GitHUb

,Repository Title,Repository Description,Contributors Count,Language Used Assignment
0,Anduin2017 / HowToCook,程序员在家做饭方法指南。,289,Built by
1,lwthiker / curl-impersonate,curl-impersonate: A special compilation of cur...,14,Dockerfile
2,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,"30,203",Python
3,cryptotwinsbr / spacecrypto-bot,This is a free python bot program that crosses...,50,Python
4,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"28,003",JavaScript
5,saadeghi / daisyui,⭐️ ⭐️ ⭐️ ⭐️ ⭐️ Tailwind Components,318,Svelte
6,emilk / egui,egui: an easy-to-use immediate mode GUI in Rus...,409,Rust
7,iranremote / awesome-iran-remote,A list of remote-friendly or full-remote compa...,15,Built by
8,libevent / libevent,Event notification library,"2,965",C
9,littlefs-project / littlefs,A little fail-safe filesystem designed for mic...,509,C
10,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,"9,516",Python
11,BishopFox / unredacter,Never ever ever use pixelation as a redaction ...,267,TypeScript
12,supabase / supabase,The open source Firebase alternative. Follow t...,"1,596",TypeScript
13,harmonoid / harmonoid,🎵 Elegant music app to play & manage music lib...,64,Dart
14,openai / gym,A toolkit for developing and comparing reinfor...,"7,610",Python
15,withfig / autocomplete,Fig adds autocomplete to your terminal.,"2,760",TypeScript
16,openvinotoolkit / anomalib,An anomaly detection library comprising state-...,20,Python
17,odin-lang / Odin,Odin Programming Language,188,Odin
18,google / googletest,GoogleTest - Google Testing and Mocking Framework,"8,296",C++
19,beurtschipper / Depix,Recovers passwords from pixelized screenshots,"2,586",Python
20,metowolf / vCards,📡️ vCards 中国黄页 - 优化 iOS/Android 来电、信息界面体验,124,JavaScript
21,neovim / neovim,Vim-fork focused on extensibility and usability,"3,671",Vim script
22,NVlabs / instant-ngp,Instant neural graphics primitives: lightning ...,282,Cuda
23,spring-projects / spring-petclinic,A sample Spring-based application,"14,972",CSS
24,trustwallet / assets,"A comprehensive, up-to-date collection of info...","11,247",Go

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [151]:
url = 'https:/www.billboard.com/'
driver.get(url)

In [152]:
charts=driver.find_element_by_xpath("/html/body/div[4]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a")
charts.click()

In [153]:
hot100=driver.find_element_by_xpath("/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a")
hot100.click()

In [154]:
# A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note

In [170]:
name = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/h3')
n = []
for i in name:
    n.append(i.text)
artist = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
a = []
for i in artist:
    a.append(i.text)
lastrank = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[3]/span')
lr = []
for i in lastrank:
    lr.append(i.text)
rank = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[4]/span')
r = []
for i in rank:
    r.append(i.text)
weeks = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[5]/span')
w = []
for i in weeks:
    w.append(i.text)
    
# Dataframe of all the tabs
billboard=pd.DataFrame({"Song Name":n,"Artist Name":a,"Last Week Rank":lr,"Peak Rank":r,"Weeks On Board Note":w})
billboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board Note
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,7
1,Do We Have A Problem?,Nicki Minaj X Lil Baby,-,2,1
2,Easy On Me,Adele,2,1,18
3,Heat Waves,Glass Animals,3,3,56
4,Stay,The Kid LAROI & Justin Bieber,4,1,31
...,...,...,...,...,...
95,Iffy,Chris Brown,87,71,4
96,When I'm Gone,Alesso / Katy Perry,-,97,1
97,Fair Trade,Drake Featuring Travis Scott,90,3,17
98,Megan's Piano,Megan Thee Stallion,97,97,2
99,Moth To A Flame,Swedish House Mafia & The Weeknd,-,27,8

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [3]:
url = 'https://www.naukri.com/naukri-dot-com-recruiters'
driver.get(url)

In [4]:
key=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div/form/div[1]/div/div[1]/div[1]/div[2]/input")
key.send_keys('Data science')

In [5]:
recruiters=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div/form/div[1]/button")
recruiters.click()

In [21]:
# A) Name B) Designation C) Company D) Skills they hire for E) Location

In [6]:
#make empty listes
name = [] 
designation = [] 
company = [] 
age = []
skills = [] 
location = []

while(True):
    Name= driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
    for i in Name:
        name.append(i.text)
    time.sleep(1)
    Designation = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    for i in Designation:
        designation.append(i.text)
    time.sleep(1)
    Company= driver.find_elements_by_xpath("//a[@class='ellipsis']")
    for i in Company:
        company.append(i.text)   
    time.sleep(1)
    Skills= driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    for i in Skills:
        skills.append(i.text)
    time.sleep(1)
    Location = driver.find_elements_by_xpath("//span[@class='ellipsis']")
    for i in Location:
        location.append(i.text)    
    time.sleep(1)
        
    try:
        next_button = driver.find_element_by_xpath("//button[@class='grayBtn']")
        next_button.click()
    except:
        break  

        
jobs = []        
for i in range(0,len(location),2):
        jobs.append(location[i])
    

time.sleep(2)        
#creating dataframe
df=pd.DataFrame({'Name':name,
                'Designation':designation,
                'Company':company,
                'Skills they hire for':skills,
                'Location':location})
df

KeyboardInterrupt:

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [3]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [4]:
# A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [15]:
name = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
n = []
for i in name:
    n.append(i.text)
author = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
a = []
for i in author:
    a.append(i.text)
sold = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')
s = []
for i in sold:
    s.append(i.text)
publisher = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')
p = []
for i in publisher:
    p.append(i.text)
genre = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')
g = []
for i in genre:
    g.append(i.text)

# Dataframe of all the tabs
books=pd.DataFrame({"Book Name":n,"Author Name":a,"Volumes Sold":s,"Publisher":p,"Genre":g})
books

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [25]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [26]:
# A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [47]:
name = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a')
n = []
for i in name:
    n.append(i.text)
year = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]')
y = []
for i in year:
    y.append(i.text)
genre = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[5]')
g = []
for i in genre:
    g.append(i.text)
time = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]')
t = []
for i in time:
    t.append(i.text)
rate = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]')
r = []
for i in rate:
    r.append(i.text)
vote = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]')
v = []
for i in vote:
    v.append(i.text)

# Dataframe of all the tabs
tvshows=pd.DataFrame({"Name":n,"Year Span":y,"Genre":g,"Run Time":t,"Ratings":r,"Votes":v})
tvshows

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,954,611"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"964,733"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"930,891"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"278,793"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"238,989"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,747"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,469"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"185,428"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,237"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"221,646"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [48]:
url = ' https://archive.ics.uci.edu/'
driver.get(url)

In [49]:
All=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
All.click()

In [50]:
# A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [77]:
name = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a')
n = []
for i in name:
    n.append(i.text)
Type = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
t = []
for i in Type:
    t.append(i.text)
task = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
k = []
for i in task:
    k.append(i.text)
attr = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
a = []
for i in attr:
    a.append(i.text)
inst = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
s = []
for i in inst:
    s.append(i.text)
att = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
o = []
for i in att:
    o.append(i.text)
year = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
y = []
for i in year:
    y.append(i.text)

# Dataframe of all the tabs
data=pd.DataFrame({"Dataset Name":n,"Data Type":t[1:623],"Task":k[1:623],"Attribute Type":a[1:623],"No Of Instances":s[1:623],"No Of Attribute":o[1:623],"Year":y[1:623]})
data

,Dataset Name,Data Type,Task,Attribute Type,No Of Instances,No Of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021