In [55]:
# SQL Worksheet - 3

In [1]:
import mysql.connector

In [15]:
mydb = mysql.connector.connect(
host='127.0.0.1',
user='root',
password='Komal@1')

print(mydb)

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

In [18]:
#create database
mycursor = mydb.cursor()
mycursor.execute("create database Customers_ERD")

NameError: name 'mydb' is not defined

In [17]:
#check databases
mycursor = mydb.cursor()
mycursor.execute("show databases")
for x in mycursor:
    print(x)

NameError: name 'mydb' is not defined

In [16]:
# 1. Write SQL query to create table Customers.

In [19]:
mydb = mysql.connector.connect(
host='127.0.0.1',
user='root',
password='Komal@1',
database ='Customers_ERD')

mycursor = mydb.cursor()
mycursor.execute("create table Customers(Customer_number varchar(100),Customer_name varchar(30),Contact_lastname varchar(10),Contact_firstname varchar(10),Phone int(10),Addressline1 varchar(30),Addressline2 varchar(30),City varchar(10),State varchar(10),Postal_code int(10),Country varchar(15),SalesRepEmployeeNumber varchar(15),CreditLimit int(10))")

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

In [20]:
# 2. Write SQL query to create table Orders.

In [21]:
mycursor.execute("create table Orders(Order_number varchar(100),Order_date date,Required_date date,Shipped_date date,Status varchar(10),Comments varchar(50),Customer_number varchar(100))")

NameError: name 'mycursor' is not defined

In [22]:
# 3. Write SQL query to show all the columns data from the Orders Table.

In [25]:
mycursor.execute('select * from Orders')
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [24]:
# 4. Write SQL query to show all the comments from the OrdersTable.

In [26]:
sql="select Comments from Orders"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [27]:
# 5. Write a SQL query to show orderDate and Total number of orders placed on that date, from Orderstable.

In [47]:
sql="SELECT Orders.Order_date AS 'Date_of_order', Orderdetails.Quantity_ordered As 'Total_no_of_orders'FROM Orders,Orderdetails WHERE Orders.Order_number=Orderdetails.Order_number"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [28]:
# 6. Write a SQL query to show employeNumber, lastName, firstName of all the employees from employees table.

In [29]:
mycursor.execute("create table Employees(Employee_number varchar(100),Last_name varchar(15),First_name varchar(15),Extension int(10),Email varchar(20),Office_code varchar(50),Reports_to varchar(20),Job_title varchar(20))")

NameError: name 'mycursor' is not defined

In [48]:
sql="SELECT Customers.Customer_name AS 'Name_of_Customer', Employees.First_name As 'Firstname',Employees.Last_name As 'Lastname' FROM Customers,Employees WHERE Customers.SalesRepEmployeeNumber=Employees.Employee_number"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [31]:
# 7. Write a SQL query to show all orderNumber, customerName of the person who placed the respective order.

In [49]:
sql="SELECT Customers.Customer_name AS 'Name_of_Customer', Orders.Order_number As 'Ordernumber' FROM Customers,Orders WHERE Customers.Customer_number=Orders.Customer_number"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [32]:
# 8. Write a SQL query to show name of all the customers in one column and salerepemployee name in another column.

In [51]:
sql="SELECT Customers.Customer_name AS 'Name_of_Customer', Employees.First_name As 'Firstname',Employees.Last_name As 'Lastname' FROM Customers,Employees WHERE Customers.SalesRepEmployeeNumber=Employees.Employee_number"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [34]:
# 9. Write a SQL query to show Date in one column and total payment amount of the payments made on that date from the payments table.

In [35]:
mycursor.execute("create table Payments(Customer_number varchar(100),CheckNumber varchar(25),Payment_date date,Amount int(15))")

NameError: name 'mycursor' is not defined

In [36]:
sql="select Payment_date,Amount from Payments"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [37]:
# 10. Write a SQL query to show all the products productName, MSRP, productDescription from the products table.

In [38]:
mycursor.execute("create table Products(Product_code varchar(50),Product_name varchar(25),Product_Line varchar(25),Product_Scale varchar(25),Product_vendor varchar(25),Product_description varchar(100),Quantity_in_stock int(50),Buy_price int(15),MSRP int(15))")

NameError: name 'mycursor' is not defined

In [39]:
sql="select Product_name,MSRP,Product_description from Products"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [40]:
# 11. Write a SQL query to print the productName, productDescription of the most ordered product.

In [50]:
sql="SELECT Products.Product_name AS 'Name_of_Product',Products.Product_description AS 'ProductDescription', Orderdetails.Quantity_ordered AS 'Product_Quantity' FROM Products,Orderdetails WHERE Products.Product_code=Orderdetails.Product_code AND Orderdetails.Quantity_ordered=(SELECT MAX(Orderdetails.Quantity_ordered) FROM Orderdetails WHERE Products.Product_code=Orderdetails.Product_code)"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [41]:
# 12. Write a SQL query to print the city name where maximum number of orders were placed.

In [53]:
sql="SELECT Customers.City AS 'Name_of_city',Orders.Order_number AS 'Ordernumber' FROM Customers,Orders WHERE Customers.Customer_number=Orders.Customer_number AND Orders.Order_number=(SELECT COUNT(Orders.Order_number),MAX(COUNT(Orders.Order_number)) FROM Orders WHERE Customers.Customer_number=Orders.Customer_number)"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [42]:
# 13. Write a SQL query to get the name of the state having maximum number of customers.

In [54]:
sql="SELECT State,Customer_number FROM Customers WHERE State=MAX(COUNT(Customers.State)) FROM Customers"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [43]:
# 14. Write a SQL query to print the employee number in one column and Full name of the employee in the second column for all the employees.

In [44]:
sql="select Employee_number,CONCAT(First_name," ",Last_name)as Employee_name from Employees"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined

In [45]:
# 15. Write a SQL query to print the orderNumber, customer Name and total amount paid by the customer for that order (quantityOrdered  priceEach).

In [46]:
mycursor.execute("create table Orderdetails(Order_number varchar(100),Product_code varchar(50),Quantity_ordered int(50),PriceEach int(20),Order_line_number varchar(100))")

NameError: name 'mycursor' is not defined

In [52]:
sql="SELECT Customers.Customer_name AS 'Name_of_Customer',Orders.Order_number As 'Ordernumber', Payments.Amount AS 'Amount_paid' FROM Customers,Orders,Payments WHERE Customers.Customer_number=Orders.Customer_number=Payments.Customer_number"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

NameError: name 'mycursor' is not defined