# Web Scraping - Selenium Assignment 2

Before Starting With The Assignment We Need To Do Or Check With Following Things :

- We Need To Install Selenium If Not Installed For Scrape The Required Data,

- Need To Import Some Necessary Libraries For The Tasks To Perform,

- Need To Connect To Web Driver By Installing the Suitable Web Driver For Your System & Browser.

In [1]:
# Install Selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [2]:
# Import Libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import requests

In [3]:
# Connect To Web Driver
driver = webdriver.Chrome('chromedriver.exe')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

Answer :-

In [4]:
# Get The Webpage
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
# Finding Web Element For Search Job Bar -
search_job = driver.find_element_by_class_name("suggestor-input ")
# Write on search bar
search_job.send_keys("Data Analyst")

In [6]:
# Finding Web Element For search Location Bar Using Absolute Xpath -
search_locn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
# Write on search bar
search_locn.send_keys("Bangalore")

In [7]:
# Clicking Search Using Absolute Xpath Function -
search_btn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
# Search Button Will Get Clicked
search_btn.click()

In [8]:
# Extract All The Data Needed From The Site - Scrape The Job-Title, Job-Location, Company_Name, Experience_Required -

# Job Titles -
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

# Job Location -
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

# Company -
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

# Experience - 
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [9]:
# Extract Text From Elements -
job_title = []
for i in title_tags:
    job_title.append(i.text)

location = []
for i in locn_tags:
    location.append(i.text)

Company_name = []
for i in company_tags:
    Company_name.append(i.text)

Experience = []
for i in exp_tags:
    Experience.append(i.text)
    
# Dataframe of all the tabs
jobs=pd.DataFrame()
jobs['Job Title']=job_title[:10]
jobs['Job Location']=location[:10]
jobs['Company Name']=Company_name[:10]
jobs['Job Experience']=Experience[:10]
jobs

,Job Title,Job Location,Company Name,Job Experience
0,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-6 Yrs
1,Assistant Clinical Data Analyst,Bangalore/Bengaluru,Labcorp Drug Development India Private Limited,0-2 Yrs
2,Data Analyst,Bengaluru/Bangalore,Flipkart,1-2 Yrs
3,Consultant - Data Analyst,Bengaluru/Bangalore,Flipkart,1-3 Yrs
4,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Sejal Consulting Hub,0-3 Yrs
5,Hiring Data Analyst For Global Logic-Immediate...,"Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalo...",GlobalLogic,4-8 Yrs
6,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
7,Data Analyst / Sr. Data Analyst,Bangalore/Bengaluru,Vmware,3-6 Yrs
8,Senior Data Analyst - CRM,Bangalore/Bengaluru,Gojek Tech,2-5 Yrs
9,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

Answer :-

In [10]:
# Get The Webpage
url = 'https://www.naukri.com/'
driver.get(url)

In [11]:
# Finding Web Element For Search Job Bar -
job = driver.find_element_by_class_name("suggestor-input ")
# Write on search bar
job.send_keys("Data Scientist")

In [12]:
# Finding Web Element For search Location Bar Using Absolute Xpath -
locn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
# Write on search bar
locn.send_keys("Bangalore")

In [13]:
# Clicking Search Using Absolute Xpath Function -
search = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
# Search Button Will Get Clicked
search.click()

In [14]:
# Extract All The Data Needed From The Site - Scrape The Job-Title, Job-Location, Company_Name -

# Job Titles -
title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

# Job Location -
locn_ = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

# Company -
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [15]:
# Extract Text From Elements -
job_ = []
for i in title:
    job_.append(i.text)

loc = []
for i in locn_:
    loc.append(i.text)

Company = []
for i in company:
    Company.append(i.text)
    
# Dataframe of all the tabs
Jobs=pd.DataFrame()
Jobs['Job Title']=job_
Jobs['Job Location']=loc
Jobs['Company Name']=Company
Jobs[:10]

,Job Title,Job Location,Company Name
0,Senior/Lead Data Scientist - (Revenue Management),Bangalore/Bengaluru,o9 Solutions Management India Private Limited
1,Senior/Lead - Data Scientist (Supply Chain),Bangalore/Bengaluru,o9 Solutions Management India Private Limited
2,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
3,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM
4,Sr. Data Scientist,Bangalore/Bengaluru,Siemens
5,Sr . Data Scientist,Bangalore/Bengaluru,Harman Connected Services Corporation India Pvt.
6,Senior Data Scientist,Bangalore/Bengaluru,Slice
7,Sr Data Scientist,Bangalore/Bengaluru,Siemens
8,Lead Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Gadgeon Smart Systems
9,Senior Data Scientist,Bangalore/Bengaluru,Dell

Q3: In this question you have to scrape data using the filters available on the webpage as shown in the given image - You have to use the location and salary filter,You have to scrape data for “Data Scientist” designation for first 10 job results,You have to scrape the job-title, job-location, company name, experience required,The location filter to be used is “Delhi/NCR”,The salary filter to be used is “3-6” lakhs.

Answer :-

In [16]:
# Get The Webpage
url = 'https://www.naukri.com/'
driver.get(url)

In [17]:
# Finding Web Element For Search Job Bar -
job1 = driver.find_element_by_class_name("suggestor-input ")
# Write on search bar
job1.send_keys("Data Scientist")

In [18]:
# Clicking Search Using Absolute Xpath Function -
search1 = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
# Search Button Will Get Clicked
search1.click()

In [19]:
# The location filter to be used is “Delhi/NCR”.
Location_check = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]")
Location_check.click()

In [20]:
# The salary filter to be used is “3-6” lakhs.
Salary_check = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]")
Salary_check.click()

In [21]:
# Extract All The Data Needed From The Site - Scrape The Job-Title, Job-Location, Company_Name, Experience_Required -

# Job Titles -
title1 = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

# Job Location -
locn1 = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

# Company -
company1 = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

# Experience - 
exp1 = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [22]:
# Extract Text From Elements -
job_title1 = []
for i in title1:
    job_title1.append(i.text)

location1 = []
for i in locn1:
    location1.append(i.text)

Company_name1 = []
for i in company1:
    Company_name1.append(i.text)

Experience1 = []
for i in exp1:
    Experience1.append(i.text)
    
# Dataframe of all the tabs
Naukari=pd.DataFrame()
Naukari['Job Title']=job_title1
Naukari['Job Location']=location1
Naukari['Company Name']=Company_name1
Naukari['Job Experience']=Experience1
Naukari[:10]

,Job Title,Job Location,Company Name,Job Experience
0,Data Scientist / Senior DS/ Team Lead,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",NebulARC Technologies Private Limited,0-4 Yrs
1,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
2,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL,2-6 Yrs
3,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,2-5 Yrs
4,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
5,Data Scientist,Gurgaon/Gurugram(Uday Nagar),Core Diagnostics Private Limited,2-7 Yrs
6,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
7,Data Scientist,Gurgaon/Gurugram,T & A Solutions,2-6 Yrs
8,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
9,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: Brand, Product Description, Price.

Answer :-

In [23]:
# Get The Webpage
url = 'https://www.flipkart.com/'
driver.get(url)

In [24]:
# If you get the popup so I added it to close it -
Close = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
Close.click()

In [25]:
# Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon

# Finding Web Element For Search Product Bar -
Product = driver.find_element_by_class_name("_3704LK")
# Write on search bar
Product.send_keys("sunglasses")

In [26]:
# Clicking Search -
search2 = driver.find_element_by_class_name("L0Z3Pu")
# Search Button Will Get Clicked
search2.click()

In [27]:
# Extract The Data From The Site Page 1 - Scrape Brand, Product Description, Price - 40 sunglasses

# Brand -
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

# Product Description -
description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

# Price -
price = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')

# Extract Text From Elements -
B = []
for i in brand:
    B.append(i.text)
D = []
for i in description:
    D.append(i.text)
P = []
for i in price:
    P.append(i.text)

In [28]:
# Clicking Next Button Using Absolute Xpath Function -
Next = driver.find_element_by_class_name("_1LKTO3")
# Next Button Will Get Clicked
Next.click()

In [29]:
# Extract The Data From The Site Page 2 - Scrape Brand, Product Description, Price - 40 sunglasses

# Brand -
brand1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

# Product Description -
description1 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

# Price -
price1 = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')

# Extract Text From Elements -
B1 = []
for i in brand1:
    B1.append(i.text)
D1 = []
for i in description1:
    D1.append(i.text)
P1 = []
for i in price1:
    P1.append(i.text)

In [30]:
# Clicking Next Button Using Absolute Xpath Function -
Next = driver.find_element_by_class_name("_1LKTO3")
# Next Button Will Get Clicked
Next.click()

In [31]:
# Extract The Data From The Site Page 2 - Scrape Brand, Product Description, Price - 20 sunglasses

# Brand -
brand2 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

# Product Description -
description2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

# Price -
price2 = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')

# Extract Text From Elements -
B2 = []
for i in brand2:
    B2.append(i.text)
D2 = []
for i in description2:
    D2.append(i.text)
P2 = []
for i in price2:
    P2.append(i.text)

In [32]:
# Merged All The Lists For Creating DataFrame
FB=B+B1+B2
FD=D+D1+D2
FP=P+P1+P2

In [33]:
# Dataframe of all the tabs
sunglasses=pd.DataFrame()
sunglasses['Brand']=FB[:100]
sunglasses['Product Description']=FD[:100]
sunglasses['Price']=FP[:100]
sunglasses

,Brand,Product Description,Price
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,179₹1,99941% off"
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...","₹599₹2,99980% off\nFree delivery"
2,PIRASO,UV Protection Aviator Sunglasses (54),"₹200₹1,59987% off"
3,Elligator,UV Protection Round Sunglasses (54),"₹248₹2,49590% off"
4,SRPM,UV Protection Wayfarer Sunglasses (56),"₹198₹1,29984% off"
...,...,...,...
95,VINCENT CHASE,"UV Protection, Gradient Rectangular Sunglasses...","₹999₹1,99950% off\nFree delivery"
96,ROZZETTA CRAFT,UV Protection Wayfarer Sunglasses (32),"₹383₹1,99980% off"
97,PIRASO,"UV Protection, Polarized, Mirrored Rectangular...","₹190₹1,59988% off"
98,SHAAH COLLECTIONS,"UV Protection, Riding Glasses, Others Aviator,...",₹181₹99981% off
99,Singco India,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹203₹69970% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https:// www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace. scrape the attributes 1.Rating 2.Review summary 3.Full review scrape this data for first 100 reviews.

Answer :-

In [34]:
# Get The Webpage
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [35]:
# Clicking All Reviews Using Absolute Xpath Function -
All = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div")
# Button Will Get Clicked
All.click()

In [36]:
element_list = []
  
for page in range(1, 11, 1):
    
    page_url = "/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=1"+ str(page)
    rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    review_summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    full_review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in range(len(rating)):
        element_list.append([rating[i].text, review_summary[i].text, full_review[i].text])

R=100
r = [i[0] for i in element_list[ : R]]

RS=100
rs = [i[1] for i in element_list[ : RS]]

FR=100
fr = [i[2] for i in element_list[ : FR]]

iphone=pd.DataFrame()
iphone['Rating']=r
iphone['Review_Summary']=rs
iphone['Full_Review']=fr
iphone

,Rating,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.

Answer:-

In [37]:
# Get The Webpage
url = 'https://www.flipkart.com'
driver.get(url)

In [38]:
# Search "sneakers"
# Finding Web Element For Search Product Bar -
sneakers = driver.find_element_by_class_name("_3704LK")
# Write on search bar
sneakers.send_keys("sneakers")

In [39]:
# Clicking Search Using Absolute Xpath Function -
search = driver.find_element_by_class_name("L0Z3Pu")
# Search Button Will Get Clicked
search.click()

In [40]:
# Extract The Data From The Site Page 1 - Scrape Brand, Product Description, Price - 40 sneakers
# Brand -
brand = driver.find_elements_by_class_name('_2WkVRV')

# Product Description -
description = driver.find_elements_by_class_name('IRpwTa')

# Price -
price = driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div/div/div/div/div/a[2]/div/div[1]')

# Discount -
dis = driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div/div/div/div/div/a[2]/div/div[3]/span')

# Extract Text From Elements -
B = []
for i in brand:
    B.append(i.text)
D = []
for i in description:
    D.append(i.text)
P = []
for i in price:
    P.append(i.text)
S = []
for i in dis:
    S.append(i.text)
S.insert(-6, ' ')

In [41]:
# Clicking Next Button Using Absolute Xpath Function -
Next_ = driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
# Next Button Will Get Clicked
Next_.click()

In [42]:
# Extract The Data From The Site Page 2 - Scrape Brand, Product Description, Price - 40 sneakers
# Brand -
brand_1 = driver.find_elements_by_class_name('_2WkVRV')

# Product Description -
description_1 = driver.find_elements_by_class_name('IRpwTa')

# Price -
price_1 = driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div/div/div/div/div/a[2]/div/div[1]')

# Discount -
dis1 = driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div/div/div/div/div/a[2]/div/div[3]/span')

# Extract Text From Elements -
B_1 = []
for i in brand_1:
    B_1.append(i.text)
D_1 = []
for i in description_1:
    D_1.append(i.text)
P_1 = []
for i in price_1:
    P_1.append(i.text)
S1 = []
for i in dis1:
    S1.append(i.text)

In [43]:
# Clicking Next Button Using Absolute Xpath Function -
Next_ = driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
# Next Button Will Get Clicked
Next_.click()

In [44]:
# Extract The Data From The Site Page 2 - Scrape Brand, Product Description, Price - 20 sneakers
# Brand -
brand_2 = driver.find_elements_by_class_name('_2WkVRV')

# Product Description -
description_2 = driver.find_elements_by_class_name('IRpwTa')

# Price -
price_2 = driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div/div/div/div/div/a[2]/div/div[1]')

# Discount - 
dis2 = driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div/div/div/div/div/a[2]/div/div[3]/span')

# Extract Text From Elements -
B_2 = []
for i in brand_2:
    B_2.append(i.text)
D_2 = []
for i in description_2:
    D_2.append(i.text)
P_2 = []
for i in price_2:
    P_2.append(i.text)
S2 = []
for i in dis2:
    S2.append(i.text)
S2.insert(18, ' ')

In [45]:
# Merged All The Lists For Creating DataFrame
FBS=B+B_1+B_2
FDS=D+D_1+D_2
FPS=P+P_1+P_2
FSS=S+S1+S2

In [46]:
# Dataframe of all the tabs
sneakers=pd.DataFrame()
sneakers['Brand']=FBS[:100]
sneakers['Product Description']=FDS[:100]
sneakers['Price']=FPS[:100]
sneakers['Discount']=FSS[:100]
sneakers

,Brand,Product Description,Price,Discount
0,Echor,Echor Men's Sneakers Fashion Lightweight Runni...,₹569,62% off
1,aadi,Synthetic leather Sneakers For Men,Free delivery,50% off
2,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹499,65% off
3,Magnolia,Sneakers For Men,₹449,60% off
4,Labbin,Sneakers For Men,₹398,50% off
...,...,...,...,...
95,RED TAPE,Sneakers For Men,₹166,70% off
96,Echor,Men's Canvas Low Top Sneakers Lace-up Classic ...,"₹1,648",74% off
97,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",Free delivery,61% off
98,Starlinc,Sneakers For Men,₹190,76% off
99,RED TAPE,Classic Sneakers For Men,₹499,

Q7: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

Answer :-

In [47]:
# Get The Webpage
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [48]:
Price = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
Price.click()

In [50]:
Color = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
Color.click()

In [51]:
# Extract The Data From The Site Page 1 - Scrape Brand, Shoe Description, Price - 50 sneakers
# Brand -
shoe = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

# Shoe Description -
desc = driver.find_elements_by_xpath('//h4[@class="product-product"]')

# Price -
pri = driver.find_elements_by_xpath('//div[@class="product-price"]')

# Extract Text From Elements -
S = []
for i in shoe:
    S.append(i.text)
C = []
for i in desc:
    C.append(i.text)
R = []
for i in pri:
    R.append(i.text)

In [52]:
# Clicking Next Button Using Absolute Xpath Function -
Next_B = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
# Next Button Will Get Clicked
Next_B.click()

In [53]:
# Extract The Data From The Site Page 2 - Scrape Brand, Shoe Description, Price - 50 sneakers
# Brand -
shoe1 = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

# Shoe Description -
desc1 = driver.find_elements_by_xpath('//h4[@class="product-product"]')

# Price -
pri1 = driver.find_elements_by_xpath('//div[@class="product-price"]')

# Extract Text From Elements -
S1 = []
for i in shoe1:
    S1.append(i.text)
C1 = []
for i in desc1:
    C1.append(i.text)
R1 = []
for i in pri1:
    R1.append(i.text)

In [54]:
Shoe=pd.DataFrame({'Brand':S,'Description':C,'Price':R})
Shoe1=pd.DataFrame({'Brand':S1,'Description':C1,'Price':R1})
pd.concat([Shoe,Shoe1])
index = pd.Index(range(0, 100, 1))
dfShoe = pd.concat([Shoe,Shoe1]).set_index(index)
dfShoe

,Brand,Description,Price
0,Nike,Men FREE 5.0 NEXT NATURE Run,Rs. 8295
1,Puma,Men Running Shoes,Rs. 7149Rs. 12999(45% OFF)
2,Puma,Men Magnify Nitro Running,Rs. 7799Rs. 12999(40% OFF)
3,Bugatti,Men Running Shoes,Rs. 7999Rs. 9999(20% OFF)
4,Saint G,Men Mid-Top Chelsea Boots,Rs. 9265Rs. 10900(15% OFF)
...,...,...,...
95,DAVINCHI,Men Solid Leather Formal Loafers,Rs. 8490
96,ECCO,Leather Stiletto Pumps,Rs. 12999
97,ROSSO BRUNELLO,Men Solid Leather Formal Derbys,Rs. 7999Rs. 9999(20% OFF)
98,ECCO,Women Textured Leather Sneakers,Rs. 13999
99,Saint G,Leather Above The Knee Boots,Rs. 14025Rs. 16500(15% OFF)

Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”. After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:Title,Ratings,Price.

Answer :-

In [60]:
# Get The Webpage
url = 'https://www.amazon.in/'
driver.get(url)

In [61]:
# Finding Element For Search "Laptop" -
Lap = driver.find_element_by_id("twotabsearchtextbox")
# Write on search bar
Lap.send_keys("Laptop")

In [62]:
# Clicking Search Using Absolute Xpath Function -
search_Lap = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
# Search Button Will Get Clicked
search_Lap.click()

In [64]:
# set CPU Type filter to “Intel Core i7” and “Intel Core i9” -
CPUi7 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[11]/div')
CPUi7.click()

In [65]:
# Scrape first 10 laptops data Title,Ratings,Price -

# Title -
Title = driver.find_elements_by_tag_name('h2')

# Ratings -
Ratings = driver.find_elements_by_tag_name('i')

# Price -
Price = driver.find_elements_by_class_name('a-price')

# Extract Text From Elements -
T = []
for i in Title:
    T.append(i.text)

R = []
for i in Ratings:
    R.append(i.text)

P = []
for i in Price:
    P.append(i.text)

Laptop=pd.DataFrame({})
Laptop['Title']=T[:10]
Laptop['Ratings']=R[:10]
Laptop['Price']=P[:10]
Laptop

                                               Title Ratings      Price
0                           Mi Notebook - XMA1904-AF            ₹57,990
1  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...            ₹65,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...            ₹59,990
3  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...            ₹82,990
4  HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...            ₹59,990
5  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...            ₹82,990
6  Acer Predator Helios 300 Gaming Laptop 11th Ge...            ₹89,990
7  (Renewed) Dell Latitude E6430 14.1 Inch Busine...          ₹1,35,999
8  HP Pavilion 14, Intel 11th Gen Core i7 16GB RA...            ₹87,990
9  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...          ₹1,48,650

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

Answer:-

In [66]:
# Get The Webpage
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [67]:
# Clicking Job Button Using Absolute Xpath Function -
Job = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
# Job Button Will Get Clicked
Job.click()

In [68]:
# Finding Web Element For Search Job Bar -
data = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")
# Write on search bar
data.send_keys("Data Scientist")

In [69]:
# Clicking Search Button Using Absolute Xpath Function -
Check = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
# Search Button Will Get Clicked
Check.click()

In [71]:
# Click on location and in place of “Search location”
Loc = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]")
Loc.click()

In [72]:
# Enter “Noida” and select location “Noida” -
Loc1 = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
Loc1.send_keys("Noida")

In [73]:
N = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
N.click()

In [74]:
# Then scrape the data for the first 10 jobs results you get on the above shown page -
# Scrape company name, No. of days ago when job was posted, Rating of the company -

# Company Name -
company = driver.find_elements_by_xpath('//p[@class="company body-medium"]')

# No. of days ago when job was posted -
days = driver.find_elements_by_xpath('//span[@class="body-small-l"]')

# Rating of the company -
rate = driver.find_elements_by_xpath('//span[@class="body-small"]')

# Extract Text From Elements -
c = []
for i in company:
    c.append(i.text)
n = []
for i in days:
    n.append(i.text)
del n[::-2]
    
r = []
for i in rate:
    r.append(i.text)
    
Ambition=pd.DataFrame({'Company':c,'No.of Days ago':n,'Rating':r})
Ambition

                      Company No.of Days ago Rating
0                         HCL       22hr ago    3.8
1  Jubilant Foodworks Limited         1d ago    3.9
2        Ameriprise Financial         3d ago    4.0
3                       Paytm         9d ago    3.7
4                CHT Sapiense        10d ago    3.8
5                CHT Sapiense        11d ago    3.8
6                    GI Group        22d ago    4.1
7                    GI Group        22d ago    4.1
8                    GI Group        22d ago    4.1
9         Cargoflash Infotech         2d ago    3.8

Q10: Write a python program to scrape the salary data for Data Scientist designation. 

Answer:-

In [75]:
# Get The Webpage
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [76]:
# Click on the salaries option -
salary = driver.find_element_by_xpath('/html/body/div[1]/nav/nav')
# Job Button Will Get Clicked
salary.click()

In [77]:
# In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist” -
place = driver.find_element_by_xpath('//*[@id="jobProfileSearchbox"]')
place.send_keys("Data Scientist")

In [78]:
place = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
place.click()

In [79]:
# Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required -

# Company Name -
company = driver.find_elements_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div/div/div/div/div/a')

# Total salary record 
Total_salary = driver.find_elements_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div/div[1]/div/div/div[1]/span')

# Average salary -
Avg_salary = driver.find_elements_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div/div[2]/div/div/div/p')

# Minimum salary -
Min_salary = driver.find_elements_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div/div[2]/div/div[2]/div[1]')

# Maximum salary -
Max_salary = driver.find_elements_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div/div[2]/div/div/div[2]')

# experience required -
exp = driver.find_elements_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div/div[1]/div/div/div[2]')

# Extract Text From Elements -
cn = []
for i in company:
    cn.append(i.text)
ts = []
for i in Total_salary:
    ts.append(i.text)
rs = []
for i in Avg_salary:
    rs.append(i.text)
ms = []
for i in Min_salary:
    ms.append(i.text)
xs = []
for i in Max_salary:
    xs.append(i.text)
ex = []
for i in exp:
    ex.append(i.text.replace("\n",""))
    
Ambitionbox=pd.DataFrame({'Company':cn,'Total_Salary_Record':ts,'Average_Salary':rs,'Min_Salary':ms,'Max_Salary':xs,'Experience_Required':ex})
Ambitionbox

,Company,Total_Salary_Record,Average_Salary,Min_Salary,Max_Salary,Experience_Required
0,Walmart,based on 10 salaries,₹ 28.7L,₹ 17.7L,₹ 35.0L,Data Scientist . 3 yrs exp
1,Ab Inbev,based on 22 salaries,₹ 19.5L,₹ 15.0L,₹ 25.0L,Data Scientist . 3-4 yrs exp
2,ZS,based on 14 salaries,₹ 15.8L,₹ 9.8L,₹ 20.0L,Data Scientist . 2 yrs exp
3,Fractal Analytics,based on 72 salaries,₹ 15.0L,₹ 9.5L,₹ 22.0L,Data Scientist . 2-4 yrs exp
4,Optum,based on 23 salaries,₹ 15.0L,₹ 11.0L,₹ 21.3L,Data Scientist . 3-4 yrs exp
5,UnitedHealth,based on 49 salaries,₹ 13.5L,₹ 7.2L,₹ 20.5L,Data Scientist . 2-4 yrs exp
6,Tiger Analytics,based on 27 salaries,₹ 13.5L,₹ 8.3L,₹ 18.5L,Data Scientist . 3-4 yrs exp
7,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,Data Scientist . 4 yrs exp
8,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,Data Scientist . 4 yrs exp
9,Ericsson,based on 42 salaries,₹ 11.9L,₹ 5.8L,₹ 21.5L,Data Scientist . 3-4 yrs exp